[2017-01-11 23:07] swarnendubiswas opened #1 "CentOS 7 black border in nautilus"
Thanks for sharing the code, this should draw contributions! Here is a bug on CentOS 7:

![screenshot from 2017-01-11 17-05-01](https://cloud.githubusercontent.com/assets/7343807/21870105/70d5b8ac-d820-11e6-9969-20cc4d279449.png)

[2017-01-12 00:06] LinxGem33 commented on #1
Hi appreciate the feed back!

ill open a virtual machine and see if I can replicate the issue.

regards

[2017-01-12 00:09] LinxGem33 commented on #1
also what’s your OS, shell version, desktop etc

[2017-01-12 00:13] swarnendubiswas commented on #1
OS is CentOS 7, and Gnome stack is at 3.14. My previous post has the details. :)

Let me know if you need more information.

[2017-01-13 06:10] treewick opened #2 "Font/icon spacing in Overview"
I'm currently running Antergos with Gnome Shell 3.22.2. I'm loving your theme, and it's for the most part bug-free, but one nagging issue is in Overview. With the Applications brought up, there is overlap of the icons onto the text labels. I'm attaching a screenshot showing the issue. I've tried both Paper and Super Flat Remix icons, and changing the Font for the interface to Liberation Sans. None

[2017-01-13 06:56] LinxGem33 commented on #2
Hi appreciate the feed back!

yeah I can see how that would drive you crazy, ill add it to the list for the next release but if I manage to replicate and find the issue before the release ill push the fix to the repo.

I usually try release updates every month so a fix hopefully shouldn’t be to long.

regards

[2017-01-17 13:32] HassanAzzam opened #3 "Window shadow"
Hi,
I want to increase the shadow of the windows, which file and which CSS class to edit?

[2017-01-17 14:39] denniseffing opened #4 "Wrong plank theme"
The extra folder contains the plank theme for OSX-Arc-Darker/-Shadow and not for OSX-Arc-White.

[2017-01-18 14:11] LinxGem33 commented on #3
@HassanAzzam

you can find all settings for shadows either in the gtk.css file if you want to change the window theme properties if you want to change the gnome shell you can find it in the gnome-shell.css but its not advised unless you compile after changes.

regards

[2017-01-18 14:20] LinxGem33 commented on #4
@denniseffing

appreciate the feed back Ive added the capeos plank theme (e.g light theme) for OSX-Arc-White it should be included as for the Ark-plank thats been added just in case the user changes the theme to the global dark settings but Ill double check to make sure.

regards

[2017-01-21 14:06] denniseffing commented on #4
My mistake, didn't know that Capeos was a plank theme too, so I didn't even bother to look into the Capeos directory.

[2017-01-21 14:06] #4 closed

[2017-01-21 14:11] denniseffing commented on #2
I am also running Antergos with Gnome 3.22.2 and I can not replicate this bug.

![bildschirmfoto von 2017-01-21 16-09-13](https://cloud.githubusercontent.com/assets/5879568/22174974/c31631a0-dfeb-11e6-99c8-0b6cd4e0fb72.png)

[2017-01-21 20:12] #3 closed

[2017-01-21 20:19] LinxGem33 commented on #4
appreciate you letting me know.

regards

[2017-01-30 02:34] #2 closed

[2017-01-31 11:31] nova-ind opened #5 "Issues with Elementary OS Loki toolbar buttons and dialogs"
Hi!

Great work on the theme, very well made. I have a few issues though, with the toolbar menu in some applications and dialogs such as the save file one in Chrome. I am on Elementary OS Loki.

Here is a screenshot of the toolbar issue (which happens in Sublime Text, GIMP, FileZilla, PoEdit, and quite possibly more apps that I haven't tested yet).
![screenshot from 2017-01-31 13 20 00](https://cl

[2017-02-01 00:38] LinxGem33 commented on #5
@nova-ind

appreciate the feed back!

Ill start a VM and look into the issue, can i ask did you download this from my official github page or my gnome look page both are up to date.

i ask because there are quite a few forks of my themes and i just want to make sure before i investigate, the theme is quite stable on elementary so its quite an unusual issue, i suspect it has more to do with element

[2017-02-01 08:48] nova-ind commented on #5
Thanks for the prompt response.

I installed the theme from gnome-look, [here](https://www.gnome-look.org/p/1167049/).

The issue is not Sublime Text specific though. I have tested more apps, and have the same issues with toolbar menus, context menus, and dialog boxes for most applications installed on my system, which include: FileZilla, GIMP, Inkscape, GitEye, GParted, Virtualbox, Thunderbird, S

[2017-02-01 09:14] LinxGem33 commented on #5
@nova-ind

I can now confirm that this does indeed affect multiple applications after further testing, I'm going to have to cross reference the elementary GTK stack and see if they have made any changes, i suspect that it most likely will be the case.

In the meantime can you test the other variants of the themes i.e OSX-Arc-Shadow & Darker and let me know if this issue still persists on your syst

[2017-02-01 09:41] nova-ind commented on #5
Darker has the same problem, that was my first choice of theme but I switched to White because the issue is made less apparent by the lower contrast.

Shadow makes the menus more usable, i.e. the text for active/hovered items is readable, but it has no hover state for items inside drop-down and context menus, and the borders are very thick and pronounced (screenshot attached, the cursor was over "

[2017-02-02 19:39] anuragsv opened #6 "Wallpaper"
Hi Andy,

I know this is not a valid issue regarding your theme, but I did not know how else to contact you. I was wondering which wallpaper you are using in this sample [screenshot](https://camo.githubusercontent.com/2f87c2d606fced54e9c6d34259137af45428d075/68747470733a2f2f636e2e706c696e672e636f6d2f696d672f622f632f312f392f3236363366653737323463646265343830383762663866666236316566333364393237302e7

[2017-02-02 20:22] anuragsv opened #7 "Unity Top Panel"
Hi Andy,

I appreciate your work and like your themes a lot. I tried your OSX-Arc-White theme on my Ubuntu 16.04 system. Everything is working fine, but the unity top panel is dark like in your OSX-Arc-Darker and OSX-Arc-Shadow themes and not white like in this [screenshot](https://camo.githubusercontent.com/1f6d1df9ccb354c3181b0a06bd87e9baee7e3969/68747470733a2f2f636e2e706c696e672e636f6d2f696d672

[2017-02-02 20:26] anuragsv opened #8 "File Manager Navigation Pane"
Hi Andy,

Thanks for you work. I noticed that in all variants of your OSX-Arc theme, you made the navigation pane of the file manager dark. While this looks good on the Darker and Shadow variants of the theme, it just doesn't go well with the White variant. I would really appreciate it if you could please make the Navigation Pane white in the OSX-Arc-White theme or provide instructions on how to c

[2017-02-02 21:49] LinxGem33 commented on #6
@anuragsv

you can find all the wallpapers and more similiar to the one in the screenshot [here](http://simpledesktops.com/)

kind regards

[2017-02-02 21:52] LinxGem33 commented on #7
@anuragsv

appreciate the feed back!

the feature your requesting is planned for a future release, its something i want as well :+1:

kind regards

[2017-02-02 21:54] LinxGem33 commented on #8
@anuragsv

this is also something which is planned for a future release.

kind regards

[2017-02-03 03:47] anuragsv commented on #6
@LinxGem33

Thank you for your quick response. I visited the link you provided and browsed through all 49 pages of it, but could not find the wallpaper that you have in the screenshot. Could you please direct me to it, give me its name, or let me download your copy?

[2017-02-03 13:24] Elbullazul commented on #6
@anuragsv I think it's [this one](http://powellong.com/wallpaper/WDF_654177.html)

![arcosx](http://powellong.com/data/wallpapers/17/WDF_654177.png)

[2017-02-03 18:02] anuragsv commented on #6
Thank you.

[2017-02-07 21:13] matjaz132 opened #9 "Is it possible to set no transparency?"
Is it possible to set no transparency?

[2017-02-08 14:10] LinxGem33 commented on #9
@matjaz132

at the moment there isn't a non transparent version of the theme and other than changing the css it isn't really possible without overhauling the css.

kind regards

[2017-02-08 14:53] Elbullazul commented on #9
@matjaz132 actually you can remove transparency. If you change the alpha settings in the following code, opacity should be 100%

[code]

[2017-02-08 15:48] LinxGem33 commented on #9
@Elbullazul

I have a few new theme ideas if you want to collaborate on a new theme, let me know if your interested Ive started some of the artwork etc.

P.s Ive been watching your work for a little while now on gnome-look.org  and i like your work ethic.

kind regards

[2017-02-08 15:57] matjaz132 commented on #9
@Elbullazul Where do I change this code? Thank you for the help!

[2017-02-08 16:02] Elbullazul commented on #9
@matjaz132 should be in gtk.css, near the end of the file

@LinxGem33 shure, I'm ready to help. What's the theme's idea?

[2017-02-08 16:05] LinxGem33 commented on #9
@matjaz132

just to make you aware i don't give guidance on how to edit theme elements as this could potentially result in system instability so proceed at your own risk.

kind regards

[2017-02-08 16:15] Elbullazul commented on #9
@matjaz132 my bad, updated the fix, I selected the wrong portion of CSS

[2017-02-08 16:24] LinxGem33 commented on #9
@Elbullazul

how do you want to proceed do you want to set up a joint project or something else?

PS if your using the gtk 3.18 and earlier  the code looks like this

`GtkFileChooserDialog.csd.background, GtkFileChooserDialog .list.sidebar,
NautilusWindow.csd.background,
NautilusWindow .list.sidebar {
  background-color: transparent; }`

[2017-02-08 16:55] Elbullazul commented on #9
I guess a joint project is OK: we set up a github repo, both of us have read/write powers and we work on it, merging changes, unless there's conflicts: then I guess we'll have to discuss which code is better.

now, what's the theme about?

[2017-02-09 06:18] LinxGem33 commented on #9
@Elbullazul

sorry for the late reply Ive created the repo and invited you as a collaborator so you should have the link as you can tell the name of the theme is called neon and we will discuss the rest later  :)

kind regards

[2017-02-09 18:58] vikz95 opened #10 "Unity window decoeation - missing edges"
I instaled the theme on Ubuntu 16:10 but I have an issue that is fixed in the official arc theme and is present in this one. The issue is this: https://github.com/horst3180/arc-theme/issues/566
And this is the article that I found and saw that the issue is now fixed: http://www.omgubuntu.co.uk/2016/06/install-latest-arc-gtk-theme-ubuntu-16-04

I hope that this will help in improving the theme.

ps

[2017-02-09 21:00] LinxGem33 commented on #10
@vikz95

appreciate the feed back, ill look into the issue and hopefully apply the fix to the next release also could you post a couple of screen shots to allow me to better pin point your issue.

in regards to your issue with selecting the theme in unity tweak tool i have a few questions

 1. did you download the theme from github or gnome-look.org?
 2. did you download just OSX-Arc-White or all

[2017-02-09 21:18] vikz95 commented on #10
As you can see here (http://www.omgubuntu.co.uk/wp-content/uploads/2016/06/Screen-Shot-2016-06-05-at-18.27.27.png) the window top border is inconsistent.

But without changing nothing now I don't have anymore the issue. It's really a strange behaviour...

I only moved menus (File, View, Edit...) from global position (in the top panel) to window specific position (near the close, minimize and maxim

[2017-02-09 21:36] LinxGem33 commented on #10
@vikz95

thanks for letting me know ill keep the issue open for a little while just in case any other users has the same issue and its not a isolated incident.

kind regards

[2017-02-09 21:53] #6 closed

[2017-02-09 21:53] #7 closed

[2017-02-09 21:53] #9 closed

[2017-02-09 21:53] #10 closed

[2017-02-12 09:24] lqmanh opened #11 "Window title is not center aligned in Cinnamon"
I am using Cinnamon 3.2 and having this issue.
![screenshot from 2017-02-12 16-10-50](https://cloud.githubusercontent.com/assets/20436482/22860930/43d3ccae-f13e-11e6-8fa9-5442addc2c27.png)
As you can see, the text "Themes" is a bit deflected to the left.

[2017-02-14 02:06] LinxGem33 commented on #11
@lqmanh

appreciate the feed back Ill investigate the issue and report back but i don't think this is a issue with the theme, i think i know what the issue is but just to make sure ill double check.

kind regards

[2017-02-15 10:57] nova-ind commented on #5
Hi,

Just wantedd to let you know, GitEye recently had an update to version 2.0.0.201701241830 which fixed a lot of the visual problems. Maybe a look through their changelog will help with troubleshooting.

Here's a screenshot of the new interface. The toolbar and context menus look perfect now, as well as the buttons and there are no more weird areas in the top bar.
![screenshot from 2017-02-15 1

[2017-02-15 16:23] LinxGem33 commented on #5
@nova-ind

appreciate the update, i will take a look at GitEye, I’m still unable to pin point the the issue so your insight is welcome news as I’ve been unable to make any significant progress addressing this issue.
I will leave this issue open a while just in case anybody else is having the same issue and hopefully ill have a fix soon or at least find out exactly what the issue is.

kind regards

[2017-02-21 15:39] nova-ind commented on #5
Hey,

I was playing around with other themes and icon packs, and one of them required gtk2-engines-pixbuf. So I installed it, tried one more theme and eventually went back to this one, and BAM! Everything looks great, menus, dialogs, the works. Screenshot of the Chrome save file dialog:

![screenshot from 2017-02-21 17 30 13](https://cloud.githubusercontent.com/assets/10091929/23171628/ad780c46-f8

[2017-02-24 07:20] LinxGem33 commented on #5
@nova-ind

really appreciate you testing the theme regarding the issue I’m not a 100% but i think you might be right about pixbuf because gtk2-engines-murrine uses (Debian, Ubuntu, elementary OS) so it seems logical that it might be a missing dependency anyway thank you again for taking the time and if you want to get more involved with the development of this or any other of my themes Id be glad

[2017-02-24 14:26] alxt17 commented on #5
using Ubuntu 16.04 LTS offical, just ran into this problem, feeling sad for some ugly 95 style.
luckily i read this post and get it fixed by installing gtk2-engines-pixbuf.
really appreciate nova-ind.

btw this is really a nice theme! love the arc-white-plus! nice work and thanks!

[2017-02-24 15:18] LinxGem33 commented on #5
@alxt17

appreciate the feed back and conformation of the issue I’m more sure now its a missing dependency from the gtk2-engines, I’m marking this as solved but will leave it open a little while longer just in case other users have the same issue.

kind regards

[2017-02-26 05:05] niyasns opened #13 "How do i remove the top panel Shadow?"
How to remove top panel Shadow?

[2017-02-26 18:25] LinxGem33 commented on #13
@niyasns

If you want to change the panel shadow property it has to be done by editing the gnome shell css although i don’t recommend editing the css unless you know what you are doing the code can be found in gnome-shell/gnome-shell.css and by deleting the line box-shadow.
[code]
as mentioned above edit at your own risk i take no responsibility for system instability as every set-up is different

[2017-02-27 13:33] nova-ind commented on #5
Hi @LinxGem33,

It's the least I could do, I'm glad I was able to help you out a bit. I would like to get involved more, just let me know what I can do! I installed GTKInspector as well and am slowly learning more and more about how everything fits together, so someday soon I might even issue a pull request.

@alxt17 Glad I could help! And yes, it's really nice, I enjoy every minute I use this sys

[2017-02-27 14:41] nova-ind commented on #5
@LinxGem33 Thank you very much, happy to be here!

[2017-03-03 18:46] #5 closed

[2017-03-03 18:46] #8 closed

[2017-03-03 18:46] #13 closed

[2017-03-04 17:19] LinxGem33 commented on #1
@swarnendubiswas

please could you test the latest release and see if the issue has been resolved and report back your findings.

kind regards

[2017-03-04 17:20] LinxGem33 commented on #11
@lqmanh

please could you test the latest release and see if the issue has been resolved and report back your findings.

kind regards

[2017-03-06 15:35] lqmanh commented on #11
Thanks for your efforts, but it still doesn't seem to be working.

[2017-03-06 16:47] swarnendubiswas commented on #1
Unfortunately, no.

![screenshot from 2017-03-06 10-45-20](https://cloud.githubusercontent.com/assets/7343807/23619761/4356134a-025a-11e7-8155-041e97302ee1.png)

[2017-03-07 12:36] LinxGem33 commented on #1
thanks for letting me know.
kind regards

[2017-03-07 12:38] LinxGem33 commented on #11
@lqmanh

thanks for letting me know.

kind regards

[2017-03-08 20:33] Elbullazul commented on #11
@lqmanh this is an easy fix, but doesn't guarantee it's bug free:

replace the original code ```xml

<draw_ops name="title_focused">
	<title x="(0 `max` ((width - title_width) / 2)) + 2"
               y="(0 `max` ((height - title_height) / 2)) + 1"
               color="C_title_focused" />
</draw_ops>

<draw_ops name="title_unfocused">
	<title x="(0 `max` ((width - title_width) / 2)) + 2"

[2017-03-21 18:44] JontySR commented on #11
I also have this problem, and the fix from @Elbullazul didn't work for me.

[2017-04-02 17:42] Elbullazul opened #14 "DEB and RPM releases"
hi,

I have made a couple of Debs in the past if you want help. But first question I have is: you want to make it for release in a PPA or just the Deb file?

[2017-04-02 17:57] LinxGem33 commented on #14
hey Elbullazul

i would prefer packaging for a PPA but for now its just for easier installation for users i would greatly appreciate it if you could show me some time ( ie screen recording of what you do) if you have the time or patience for that sort of stuff ..ha but thank you in advance if you could package the themes for me, i would be extremely grateful.

kind regards

[2017-04-02 18:29] LinxGem33 commented on #14
@Elbullazul

thank you so much i really apprecite that i will learn how to package eventually ..ha

if you could package (OSX-Arc White,Darker,Shadow) and make sure they are are signed and tell me the checksum i would greatly appreciate that.

again thank you.

kinds regards

[2017-04-02 21:53] Elbullazul commented on #14
here is the first successful build (unsigned): https://drive.google.com/open?id=0B5TxTJQ38Rx8MFF1R0NkbWJRbWc

I'm having issues with my GPG key but it shouldn't be too long before I fix that bug

[2017-04-02 22:22] LinxGem33 commented on #14
@Elbullazul

brilliant job mate, I will add you to the list of contributors on the authors file, would it be ok for me to quote you as being the maintainer of the deb packages?

also i have unpacked the package (not installed) and everything looks ok , i only have 2 issues

1. the description  should say **osx-arc** themes are ......
2. signing the package

other than that it can be fixed for the

[2017-04-02 22:41] Elbullazul commented on #14
@LinxGem33 sums match perfectly. Shure, no problem being the maintainer.

fixed the description, and also I'm trying to get debuid to sign the package, maybe a reboot will help? posting news in short

[2017-04-02 22:49] LinxGem33 commented on #14
@Elbullazul

let me know when you've finished and ill check the package then upload.

[2017-04-03 01:01] LinxGem33 commented on #14
@Elbullazul

good news Ive managed to figure out how to create deb packages just successfully built my packages
could you test them ive uploaded them to osx-arc releases page

[2017-04-03 01:04] Elbullazul commented on #14
@LinxGem33 great! I was just coming to say I finally got the package signed, a weird bug with GPG and GPG2...

https://drive.google.com/open?id=0B5TxTJQ38Rx8UGZSMUdoNXphQ1k

[2017-04-03 03:07] LinxGem33 commented on #14
@Elbullazul
really appreciate the time and effort you gave thank you, its weired i looked at your package and finally realised how to build them (i tried a few times before) so you helped me indirectly ..ha anyway don't hesitate to give me a shout if you need a hand with your projects.

kind regards

[2017-04-04 13:49] #14 closed

[2017-04-05 15:14] LinxGem33 commented on #11
@lqmanh
going to close this issue as @Elbullazul  has the correct fix.

[2017-04-05 15:14] #11 closed

[2017-04-08 19:22] LinxGem33 opened #15 "SSL/TLS Setup Security Gnome extension"
**Purpose of this extension!**

If your computer, proxy or VPN has an unsecure SSL/TLS setup, then this extension can test for the following:

Version =
Ephemeral Key Support =
Session Ticket Support =
TLS Compression =
BEAST Vulnerability =
Insecure Cipher Suites =
and also Given Cipher Suites.

I want to integrate this into my current ip finder extension but if not then i can make new extension

[2017-04-08 19:33] fbob opened #16 "Panel color in Cinnamon: feature or bug ?"
I don't know if it's a feature or a bug but for me the cinnamon panel color does not match the one shown in your screenshot for the gnome panel ... sorry for the disturbance if it's a feature :)

Anyway OSX-ARC is the most beautiful theme I ever used.
Excellent work !
Thanks :)

[2017-04-08 20:00] LinxGem33 commented on #16
@fbob
appreciate the feed back, your absolutely right, this is indeed a feature of cinnamon not a bug relating to the theme and also xfce has the same issue, the panel is hard coded to be dark not light, I’m currently looking at ways to override this feature in a future release.

kind regards

[2017-04-09 20:16] #16 closed

[2017-04-13 19:51] marioaria opened #17 "Align window title to the left"
Thanks for this sweet theme. Is it somehow possible to align window title to the left?

[2017-04-13 19:54] Elbullazul commented on #17
gsettings set org.gnome.desktop.wm.preferences button-layout close,minimize,maximize:

[2017-04-13 20:22] marioaria commented on #17
@Elbullazul This moves buttons to the left.

[2017-04-13 21:17] LinxGem33 commented on #17
@marioaria

hi appreciate the feed back, could i get some more information about what OS version desktop environment etc your using so i can further investigate your issue and possibly a screen shot illustrating your issue.

kind regards

[2017-04-13 21:18] #15 closed

[2017-04-13 21:35] marioaria commented on #17
Not sure if it is really an issue, but for some reason it really bothers when they are in the middle :smile:

![screenshot at 2017-04-14 00-28-49](https://cloud.githubusercontent.com/assets/27446161/25025219/05d3b1ee-20aa-11e7-8e7b-97430092f32c.png)

[2017-04-13 23:23] Elbullazul commented on #17
@marioaria is that MATE?

[2017-04-14 00:08] LinxGem33 commented on #17
@marioaria

After further investigation you could use this possible work around, although i do not advise changing the theme code unless you know what your doing as this could introduce system instability. anyway I think MATE uses either `metacity-theme-1.xml` or `metacity-theme-2.xml,` so you'll have to edit one of those.

You can move the title to the left by changing the x value in this [line](

[2017-04-14 14:23] marioaria commented on #17
That did it. Thank you!

[2017-04-14 14:23] #17 closed

[2017-04-15 00:09] evansan opened #18 "How Do I Change Transparency for Window Titlebar?"

[2017-04-15 15:46] LinxGem33 commented on #18
@evansan
I’m closing this as there is no information and its not an actual issue or bug rather a information request.

kind regards

[2017-04-15 15:46] #18 closed

[2017-04-15 17:32] evansan commented on #18
I am not familiar with functions in Github, can you provide me the information to adjust transparency?

[2017-04-15 17:32] evansan commented on #18
@LinxGem33
I am not familiar with functions in Github, can you provide me the information to adjust transparency?

[2017-04-15 17:42] LinxGem33 commented on #18
@evansan
like i said you have not provided any information about your system setup etc and also changing transparency is not a simple task it involves editing more than one file and i wouldn’t advise it unless you know what you are doing.

kind regards

[2017-04-17 01:53] mshaddock opened #19 "Missing some resize handles"
First, let me say that this is a great theme; it is very slick.  However, on Mint 18.1 with Mate, I only see resize handles at the top of the window.  There aren't any at the bottom or the sides, so you have to move the window around to resize it.  I realize that this does mimic OSX, but I was wondering if either this was a bug in Mate, or this is deliberate, and if it is deliberate, are there any

[2017-04-17 03:15] LinxGem33 commented on #19
@mshaddock
appreciate the feed back, as the theme is based on arc it also inherits semi border less frames which is why you cant grab the corners or the sides there are two possible workarounds in MATE one relatively easy and the other a bit more advanced .

1. use  > ALT & right click < on any area of the window and choose resize.

**or**

2. you can add a slight border to the `metacity-theme-2.x

[2017-04-21 19:56] imanhodjaev opened #20 "How/where to change box-shadow for top bar"
Hi @LinxGem33 thank you for this cool theme! I am wondering how or where I can change the `box-shadow` properties for top bar (or global menu) shadows value is really big, so I wanted to change alpha and size of it.

<img width="562" alt="screen shot 2017-04-21 at 21 56 02" src="https://cloud.githubusercontent.com/assets/354868/25293967/61c1b56c-26dd-11e7-940e-a94e0948738c.png">

Thank you.

[2017-04-22 01:51] LinxGem33 commented on #20
@imanhodjaev

appreciate the feed back, you can change the drop shadows by editing the `gnome-shell.css` file and by changing this section below you need to change the box shadow values also i don't recommend changing theme code unless you know what you are doing as this could introduce system instability if done wrong anyway code is below:

[code]
kind regards

[2017-04-22 02:09] #19 closed

[2017-04-22 11:47] imanhodjaev commented on #20
@LinxGem33 thank you very much! I am new to theming so trying out fine-tuning theme.

[2017-04-22 11:47] #20 closed

[2017-04-24 14:23] imanhodjaev opened #21 "Unity toolbar overflow issue"
Hi @LinxGem33 ,

I have found a tiny issue with Unity toolbar which is rendered with 1px overflow from both sides.

![selection_025](https://cloud.githubusercontent.com/assets/354868/25341739/25840788-290a-11e7-876f-4e4fe5d0ba87.png)

I will try to make a pull-request.

Thanks.

[2017-04-27 12:29] denniseffing opened #22 "Weird font colorization of notifications in Gnome 3.24"
I know that the theme doesn't support Gnome 3.24 officially but I updated to Gnome 3.24 a few days ago anyways and since then my notifications look like this:
![instantscreen_2017-04-27_14-02-48](https://cloud.githubusercontent.com/assets/5879568/25483319/92415234-2b55-11e7-8cf6-2146108ce710.png)

As you can see in the screenshot, it looks like there is a semi-transparent grey overlay over the who

[2017-04-27 14:09] LinxGem33 commented on #22
@denniseffing

Hi appreciate the feed back, you are absolutely right about the notification banner, there is also an issue with the calendar weather notification and css colour styling, as your aware there has been a few  new shell updates for gnome 3.24 hopefully these minor issues should be resolved for the next point release.

**Note**: if you want to see what I’m currently working on in future

[2017-05-01 02:54] LinxGem33 commented on #21
@imanhodjaev
thanks you.

[2017-05-01 02:54] #21 closed

[2017-05-01 03:02] LinxGem33 commented on #1
@swarnendubiswas
hi i haven't forgotten about your issue it seems to be my nemesis the first issue i got and the only issue i have not solved yet :)

could you test the Arc theme ( from horst1080) and tell me if that theme has the same issue, I'm now determined to fix this issue.

kind regards

[2017-05-04 01:48] swarnendubiswas commented on #1
No problem. I am traveling for the next two weeks, so it would be some time before I can respond.

IIRC, Arc seems to work properly with 3.14, but I will confirm.

[2017-05-14 23:08] LinxGem33 commented on #22
going to close this issue as the fix should be in the next point release.

[2017-05-14 23:08] #22 closed

[2017-05-18 18:35] swarnendubiswas commented on #1
Arc works fine with 3.14.1.
![screenshot from 2017-05-18 13-30-26](https://cloud.githubusercontent.com/assets/7343807/26217896/b910fdcc-3bce-11e7-8717-5da14bd141a6.png)

The problem only seems to exist with OSX-Arc-White. In fact, the Cinnamon settings window also looks out of place as you can see.

![screenshot from 2017-05-18 13-33-04](https://cloud.githubusercontent.com/assets/7343807/26217933/

[2017-05-18 19:20] LinxGem33 commented on #1
@swarnendubiswas

appreciate you making the time to reply back, leave it with me and ill hopefully have the fix for one of the point releases, just to make you aware support for 3.14 & 3.16 will be dropped when the 18.04LTS is released.

kind regards

[2017-05-23 16:45] eutampieri opened #23 "OpenBox Port"
Could you please port it to OpenBox?

[2017-05-23 21:00] LinxGem33 commented on #23
@eutampieri

appreciate the feed back its defiantly a good idea, at the moment it would be a bit hard to take on a new project as I’m currently running multiple projects and contributing also so its more a time limitation than anything else but i will keep it in mind for maybe a future project.

kind regards

[2017-05-25 14:53] eutampieri commented on #23
Ok, thanks

Eugenio Tampieri

[2017-05-25 16:44] flourishdna opened #24 "Gnome-Global-AppMenu Menu Items are Not Visible"
When I enable OSX-Arc-White as a shell theme the Gnome-Global-AppMenu extension items are not visible as the text and the background color is both white. I have attached a screenshot of the same below.

I had reported it at https://github.com/lestcape/Gnome-Global-AppMenu/issues/32 but it seems this needs to be fixed withing the theme, not the Gnome-Global-AppMenu extension.

![selection_004](http

[2017-05-25 18:03] LinxGem33 commented on #24
@flourishdna

appreciate the feed back, as this is a new feature ill have to look in to the issue in the meantime could you give me a bit more information regarding your 0S version desktop etc.

kind regards

[2017-05-25 18:59] lestcape commented on #24
I'm happy to help if is required.

[2017-05-25 19:58] LinxGem33 commented on #24
@lestcape

i think ill be able to fix this issue with the theme i suspect its a gnome shell 3.24 issue,

but looking at your profile i see you have some experience with extensions and i currently need more contributors on my other project Arc menu which is building quite a lot of interest if your interested in being a part of this project please let me know and ill add you as a member of the devel

[2017-05-25 20:25] lestcape commented on #24
@LinxGem33 thanks, i really have not time to be part of your project for now, but i can help a little. So, I will subscribe to the notifications to see the issues of your menu, but i can not promised anything.

You are welcome to contribute in all my projects all people are welcome.

I'm trying to migrate all my owns projects from cinnamon to gnome shell.

Also i want to migrate all cinnamon if i

[2017-05-25 20:42] LinxGem33 commented on #24
@lestcape

thanks, regarding your issue with python+gtk I'm very much learning js gnome shell eco system myself(maybe 3 months playing with it?). I'm more of a css guy but I'm getting familiar with GLib stuff because of PyGObject so I think that helps. I also one of the development team pointed me to this link https://lazka.github.io/pgi-docs/ to try to translate it to Gjs because there aren't rea

[2017-05-25 22:18] Elbullazul commented on #24
@LinxGem33 maybe try this class?

[2017-05-25 22:37] lestcape commented on #24
The .not-ornament was added because the menu items of the global menu are not at same of the gnome shell menu items. My ornaments are real pictures while gnome shell use special characters. The pictures in my case are to the right while in the gnome shell the ornament are to the left of the items. So, the .not-ornament are only to compensate the gnome shell ornament space without need to add a rea

[2017-05-25 23:51] Elbullazul commented on #24
@lestcape so what is the class for the menu item in top bar? I have the same issue for my mac theme and I'm wondering which class I need to include

[2017-05-26 06:06] flourishdna commented on #24
@LinxGem33 Ubuntu 17.04 with Gnome

[2017-05-26 16:43] lestcape commented on #24
In theory, the item in the panel have this class:
popup-menu-item
popup-submenu-menu-item
candidate-index

The application name actor:
    gradient-label-menu-item
    The drawing area:
    chat-meta-message

[2017-05-26 16:50] lestcape commented on #24
candidate-index and chat-meta-message are selected because for the gnome shell default theme they have the properties that i need, but of course they are not really related, just they are there for convenience on the default theme.

[2017-05-28 02:49] lestcape commented on #24
I re-factor the styles classes a lite to be more easy, used it, now just see this file, it have all that it's needed, related with panel items:
https://github.com/lestcape/Gnome-Global-AppMenu/blob/master/gnomeGlobalAppMenu%40lestcape/stylesheet.css

[2017-05-28 03:06] LinxGem33 commented on #24
@lestcape
post a screen shot with the the applied style sheet as i haven’t got a VM running,

[code]

[2017-05-28 05:48] lestcape commented on #24
@LinxGem33 I will merged your style... Thanks.

[2017-05-28 06:07] lestcape commented on #24
What you mean with "also hows the spacing on the shell panel ?" Space of item in the panel are set by popup-menu-item.applet-box

There are a better way?

[2017-05-31 13:42] flourishdna opened #25 "Icons color in Elementary OS Loki"
The nautilus sidebar icons color in Elementary OS Loki is dark as background and are not visible.

![image](https://cloud.githubusercontent.com/assets/8165585/26634665/fed5f338-4634-11e7-8b4e-097ea7d8c15a.png)

[2017-05-31 15:18] Elbullazul commented on #25
@flourishdna are you using the latest la capitaine theme?

[2017-06-03 20:41] LinxGem33 commented on #25
@flourishdna

please test other icon themes as the file manager side panel inherits symbolic icons so its nothing to do with the actual theme rather the icon theme you use and if that’s set up correctly try test other icon themes and maybe a older version of the icon theme in your screen shot.

kind regards

[2017-06-03 20:44] LinxGem33 commented on #24
@flourishdna

please test the latest release and let me know if the issue still persists.

kind regards

[2017-06-07 04:51] #23 closed

[2017-06-07 04:51] #25 closed

[2017-06-08 20:15] fossfreedom opened #26 "wrong permissions on files?"
I was looking over the repo when I noticed that most files have executable permissions "-rwxr-xr-x" for example - all the png files

suggest set the vast majority of files to 0644.

[2017-06-08 20:21] LinxGem33 commented on #26
@fossfreedom

really appreciate you bringing that to my attention, ill work on changing the permissions asap, if you find anything else I’ve overlooked please don’t hesitate to let me know.

kind regards

[2017-06-20 17:15] hozzaq opened #27 "Window control not visible on some program"
window control is clickable but not visible on some program like dconf-editor, sublime text 3 and rhythmbox
![screenshot from 2017-06-21 00-09-29](https://user-images.githubusercontent.com/7197485/27346067-22877c3e-5616-11e7-8a25-784a7ad51998.png)
![screenshot from 2017-06-21 00-09-18](https://user-images.githubusercontent.com/7197485/27346068-228c2cc0-5616-11e7-8124-200bc595c578.png)

[2017-06-20 17:23] LinxGem33 commented on #27
@hozzaq

appreciate the feed back, as you haven’t provided me any information about your set-up etc i cant pin point your issue, please refer to this issue #5 as it sounds familiar.

kind regards

[2017-06-20 18:29] hozzaq commented on #27
@LinxGem33 oh wow that is exactly the same, i actually already installed gtk2-engines-pixbuf when i want to try another theme but i haven't reboot the system so it didn't fixed the problem, thanks it fixed now.

[2017-06-20 18:29] #27 closed

[2017-06-25 03:44] #24 closed

[2017-06-25 03:53] LinxGem33 commented on #1
@swarnendubiswas
##
hey could you please manually install from the main branch and test to see if the issue is now resolved and let me know.
##
kind regards

[2017-06-26 12:14] ikeydoherty opened #28 "Project claims Budgie compatibility"
Hi,

I notice this theme advertises Budgie compatibility, however all evidence indicates it completely _lacks_ any Budgie support. Could you please clarify on this? It's a bit misleading to potential users who then think Budgie is "broken" because the theme doesn't contain Budgie support.

[2017-06-26 13:07] LinxGem33 commented on #28
@ikeydoherty
##
appreciate the feed back, I’m currently working on 7 active projects at the moment and my current work flow for this quarter is - Arc menu feature development & budgie integration, i appreciate it can be frustrating but as I’m the sole developer of the OSX Arc collection project i can understand development can sometimes seem rather slow, a lot of issues arose when budgie migrated

[2017-06-26 13:27] ikeydoherty commented on #28
This is incorrect. Budgie is my project of which I am the founder and author, and started underneath Solus. There is a Ubuntu edition using Budgie as it's desktop, but Budgie upstream (i.e. myself and my team) are not part of that, we develop Solus.

As for the "fix" - the one with least work is simple, just remove the README line that states Budgie is supported (it's not). As for future resources

[2017-06-26 13:42] LinxGem33 commented on #28
@ikeydoherty
##
WOW i was really polite to you then and your reply seemed very hostile and yes i was referring to the Ubuntu desktop version.
##
but any way i will remove budgie support from the README and stop all work on budgie support and state that in any place where I’ve uploaded OSX Arc collection sorry for any inconvenience this may have caused you and i wish you well in your endeavours.
##

[2017-06-26 13:43] ikeydoherty commented on #28
What? How was that hostile? I gave you the facts, a solution, and a pointer where to look at in the future. I have no inconvenience - it's _you_ I'm trying to help.

[2017-06-26 13:58] LinxGem33 commented on #28
appreciate your suggestions and i have respect for your work that you’ve done in the open source community and i don’t really want to say any more on the matter as it seems that we maybe getting our wires crossed.

kind regards

[2017-06-26 14:32] ikeydoherty commented on #28
Hold on a minute here, lad:

https://github.com/LinxGem33/OSX-Arc-White/commit/ccce3d34f97c7c9136ce43077e60fa48f6be41fa

You haven't dropped any support, you didn't have it in the first place.  And now you're blaming me, publicly, to your users, for dropping the thing that didn't exist to start with .. And that I'm now causing *them* inconvenience.

Jesus Christ, man. I only asked you to clarify y

[2017-06-26 15:00] ikeydoherty commented on #28
@LinxGem33 _if_ I am held in any regard at all (I have no love for "rock stars") - then it is because I am honest, direct, and deliver on what I say I'm going to do. I am not known for beating around the bush and I'll not waste anyone's time, my own included. I'm also certainly not known for conforming with a PC image that isn't me.

That I've engaged with you in the first place and not beaten aro

[2017-06-26 16:05] #28 closed

[2017-06-26 16:05] #1 closed

[2017-06-26 16:05] #26 closed

[2017-06-26 17:48] LinxGem33 commented on #28
@ikeydoherty
##
and here is the misunderstanding I was meaning Ubuntu budgie and you was meaning Solus budgie the mistake was me saying just Budgie in the description.

##
![budgie](https://user-images.githubusercontent.com/19158615/27552404-98f2afe8-5aa7-11e7-969a-f695c3717265.png)
##
![b2](https://user-images.githubusercontent.com/19158615/27552418-a40b6370-5aa7-11e7-9c04-d891e10c7cae.png)
##
ki

[2017-06-26 18:04] Elbullazul commented on #28
@LinxGem33 I don't want to throw gazoline in the fire, but this is not *full* budgie-oriented support.

What @ikeydoherty meant (correct me if I'm wrong) is something [like this](https://github.com/B00merang-Project/macOS-Sierra/blob/master/gtk-3.20/apps/budgie.css), that gives budgie widgets a specific theming. Arc will just give out the normal GTK look to them

If you want help for budgie suppor

[2017-06-26 18:37] LinxGem33 commented on #28
@Elbullazul
to be honest my heart is not in it now, but i appreciate you clearing that up (now i understand what he means ) and thank you for willing to help, if you want to take over this project then your more than welcome.

kind regards

[2017-06-26 18:53] Elbullazul commented on #28
@LinxGem33 I submitted a new organisation to manage the themes, you can join and transfer ownership to keep things a little more clean

[2017-06-26 20:59] LinxGem33 commented on #28
@Elbullazul

ill announce that your taking over the project then transfer ownership if your ok with that.

kind regards

[2017-06-26 20:59] Elbullazul commented on #28
@LinxGem33 you'll be helping too, right?

[2017-06-26 21:02] LinxGem33 commented on #28
yes now and again but not full-time as I’m currently developing gnome shell extensions.

[2017-06-28 16:27] swarnendubiswas commented on #1
Sorry, it still does not work.

[2017-07-06 16:03] davidefalanga opened #29 "Dark background also in the white theme"
Hello everyone, I am trying this theme on Ubuntu 16.04 and I am experiencing some problems. The issue is that the three variants of the theme have basically no difference among each other. For example, in the white version, the background of Nautilus and other applications is dark instead (see attached screenshot). I tried to install it both from the Github repo and from the .deb provided, but the

[2017-07-06 16:20] Elbullazul commented on #29
@davidefalanga remove all files except gtk.css under ~/.themes/OSX-Arc-White/gtk-3.**[VERSION NUMBER HERE]**/

[2017-07-11 22:52] giorga8 commented on #29
same problem
manjaro 17.0.2

[2017-07-11 23:30] giorga8 commented on #29
@davidefalanga do you have turned on "Global Dark Theme"? if yes then turn off and everything will be perfect

[2017-07-16 15:32] b0rski commented on #29
Exactly same problem for me on Fedora 26. Above hints do not help. The panel stays dark even with the white version installed. Keeps me from using this beautiful theme.

[2017-07-19 02:01] LinxGem33 commented on #29
@davidefalanga
appreciate the feed back , it sounds like you need to install this please see below:
[code]
let me know if this solves your issue

also just to make you aware Im currently not in active development of this theme as Im currntly developing gnome extensions, hopefully in the near future @Elbullazul  will be maintaining this theme pack.

kind regards

[2017-07-19 02:03] LinxGem33 commented on #29
@b0rski
appreciate your feed back ive tested on fedora 26 please see below:
##

![f26](https://user-images.githubusercontent.com/19158615/28347413-ceb8395c-6c2e-11e7-9273-c719b56c6bb1.png)
##
kind regards

[2017-07-30 17:05] blazer69064 opened #30 "Transparament video in Totem"
Hello. When I use this theme, video background in totem becomes transparent like this.
![2017-07-30 20-01-55](https://user-images.githubusercontent.com/15829319/28755362-fab2d6b6-7561-11e7-98ef-4167b715fdaf.png)
Can I repair it?
Ubuntu 16.04 LTS, theme 1.4.3, gnome 3.18.5.

[2017-08-06 19:59] flourishdna opened #31 "Nautilus sidebar background Color"
I want to change the Nautilus sidebar background so which css (class) file do I need to edit? I am using OSX-Arch White theme for both shell and gtk. I am customizing the theme for the personal project. Thanks..

![selection_009](https://user-images.githubusercontent.com/8165585/29006542-bb8285be-7b0f-11e7-97f5-ece7dc130b89.png)

[2017-08-12 12:21] ProjectMoon opened #32 "Drop shadow from top panel overlaying windows"
Hi,

This is a great-looking theme. I'm having one issue, which may just be my configuration instead of a bug. The top panel shadow is covering the top bar of windows, which looks a bit weird when the windows are maximized.

![overlay](https://user-images.githubusercontent.com/183856/29240622-48a8f454-7f58-11e7-85d7-3ae27ffcaec8.png)

Distro: Gentoo

[2017-08-21 12:01] LinxGem33 commented on #32
appreciate the feed back if you want you can lower the drop shadow or remove it completely to mitigate this issue you will find the code to do so in the gnome-shell.css file under panel.

kind regards

[2017-08-21 12:01] #32 closed

[2017-08-21 12:07] LinxGem33 commented on #31
appreciate the feed back as this is not a theme related bug or issue i am going to close it, regarding your question its at the bottom of the gtk-3.0.css file under nautilusFilechooser.

kind regards

[2017-08-21 12:07] #31 closed

[2017-08-21 12:11] LinxGem33 commented on #30
Im not sure what this issue is as i have not seen this before but make sure you have all dependencies installed such as pixbuf etc you can find others on the main page.

kind regards

[2017-08-21 12:14] LinxGem33 commented on #29
closed due to lack of response.

[2017-08-21 12:14] #29 closed

[2017-08-29 11:33] dhra opened #33 "Widget color like macOS-Sierra"
It will be nice if you add macOS-Sierra's widget style in OSX-Arc-White!

[2017-09-01 11:48] Triple-Z opened #34 "Cannot get the menu item clearly in several apps."
In haroopad, I cannot see the exact item name when I move the cursor onto it.

![screenshot from 2017-09-01 19-36-36 crop](https://user-images.githubusercontent.com/16285716/29968323-bd0f6d36-8ee0-11e7-98c4-ef45ba215a44.png)

However, the terminal is normal.

![screenshot from 2017-09-01 19-39-36 crop](https://user-images.githubusercontent.com/16285716/29968337-d0a31758-8ee0-11e7-83c3-f678b5f4475d

[2017-09-03 05:23] nick-s-b opened #36 "Window title text is not centered"
Hi all,
I absolutely love this theme and would like to switch to it from Arc-Flatabulous but window titles bother me. They're not centered. I use Cinnamon so I'm not sure if it's DE specific.
Here's an example:

![https://i.imgur.com/R4JvQDw.jpg](https://i.imgur.com/R4JvQDw.jpg)

I've been looking at gtk.css file for a while but can't find obvious place where this could be changed.
Any ideas anyon

[2017-09-08 10:21] martinlindhe commented on #19
Hello @LinxGem33
I have the same issue as @mshaddock here.

The thing is, with current macOS, you can resize windows by dragging in all borders, so the simulated behaviour in this theme is no longer accurate.

However, applying the changes suggested had no effect for me (using XFCE4)

Here's what I did

[code]

ps, sorry for reusing an old bug report but since it is the same issue, I thought it ma

[2017-09-08 10:36] martinlindhe commented on #19
Interestingly enough, it seems the resize grips are available in OSX-Arc-Darker.

I am currently dissecting differences between the two themes

[2017-09-08 10:47] martinlindhe commented on #19
Found the issue.

The following files is missing from xfwm4 folder:

bottom-active.xpm, bottom-inactive.xpm, left-active.xpm, left-inactive.xpm, right-active.xpm, right-inactive.xpm

by copying them from OSX-Arc-Darker, it sort of works.

However, bottom-left and bottom-right grabber icons are still lacking.

[2017-09-08 11:12] martinlindhe commented on #19
I now realize the issue I had was xfce-specific and doesn't apply to this issue. Sorry again for spamming here.

Anyhow, I've addressed the xfce-specific resize issue with the following patches:

https://github.com/LinxGem33/OSX-Arc-White/pull/37
https://github.com/LinxGem33/OSX-Arc-Darker/pull/13
https://github.com/LinxGem33/OSX-Arc-Shadow/pull/12

[2017-09-18 09:47] LinxGem33 commented on #36
appreciate the feed back this is a duplicate issue please see #11

kind regards

[2017-09-18 09:47] #36 closed

[2017-09-18 09:52] LinxGem33 commented on #34
appreciate the feed back please see issue #5 and

[2017-09-18 09:52] #34 closed

[2017-09-18 09:56] LinxGem33 commented on #33
appreciate the feed back ill look into it for maybe next release cycle depending if i get time.

kind regards

[2017-09-18 09:56] #33 closed

[2017-09-18 09:56] LinxGem33 commented on #30
closed due to lack of response.

[2017-09-18 09:56] #30 closed

[2017-09-18 17:11] nick-s-b commented on #11
@LinxGem33 could you please update the main branch with this change please?

[2017-09-19 11:57] NicoNex opened #38 "White panel"
I suggest to make the panel white in cinnamon instead of leaving it dark

[2017-09-22 12:25] devillove084 opened #39 "Why You Are Stop "OSX-Arc-\*" Development?"
Almost one year,i can not see any progress for your project.I like this GTK theme very much. I wish you can continue to developing all of arc`s projects.I appreciate very much.

[2017-09-22 14:08] LinxGem33 commented on #39
appreciate the feed back, im currently developing gnome extensions at the moment but i plan to make a update to the themes on the upcoming LTS release and add some refinements and update some of the css code

kind regards

[2017-09-22 14:08] #39 closed

[2017-09-22 23:08] btd1337 opened #40 "Sidebar"
Could you tell which css property changes the background color of the Nautilus(pantheon files) sidebar?

![screenshot from 2017-09-22 20-02-08](https://user-images.githubusercontent.com/11943860/30767281-b77e496c-9fd1-11e7-829e-44eef46a7cdc.png)

[2017-09-24 17:59] JeromeDesseaux opened #41 "White background XFCE"
Thanks for this awesome theme!

I tried to fix it myself but I failed... In the window bar, using flat buttons, the background of the active window is white (and the text is white too)... using non-flat buttons, they're all white except the active one;

Is this possible getting a non-white background? Something darker?

Thanks for the work ! :)

[2017-09-30 03:03] FrankRizz0 opened #42 "Not an issue!"
Hello, thanks for the best theme I've seen to date.  I have a quick question, hopefully it can be answered as such.  I would love to have the white theme with green accents (highlighting, etc.).  I know this is a lot to ask, therefore I have no problem doing it myself, but unfortunately I have never created/edited a theme before.  A little guidance would be wonderful, thank you.

[2017-10-10 17:25] kimwnasptd opened #43 "Blurry text on the taskbar"
![p1](https://user-images.githubusercontent.com/11134742/31400595-d80820a6-adf8-11e7-9731-a74579c47082.png) Blurry
![p2](https://user-images.githubusercontent.com/11134742/31400597-d84550d4-adf8-11e7-8309-c8e643ef5fa3.png) Clean

Just upgraded my GNOME from 3.24 to 3.26 (arch linux) and and my taskbar's text is blurry. But if I move a window on top, or if I maximize a window the text is correctly

[2017-10-15 10:15] snqlby commented on #43
the same problem, ty for you report

[2017-10-17 15:24] LinjingFcode opened #44 "IME candidate box"

[2017-10-26 13:21] ponchofiesta opened #45 "Panel bar only black in Cinnamon 3.4.3 (Mint 18.2)"
I assume the cinnamon.css doesn't work with Cinnamon 3.4.3. Everything looks good except the panel bar. It is black. Only the active program has a blue line. Looking Glass does not say something about errors while loading.

I tried to set other colors in cinnamon.css but nothing changed. So I think the file breaks rendering at all for some reason. Using a clean CSS file with a few settings works.

[2017-11-01 20:03] snqlby commented on #43
@kimwnasptd try to add these lines to gnome-shell.css. This fix works great for me.
[code]

[2017-11-01 21:14] kimwnasptd commented on #43
@snqlby worked like a charm, many thanks!

[2017-11-22 20:52] LinxGem33 commented on #43
appreciate the fix sorry for the late reply i will be releasing a version for gnome 3.26 soon with fixes etc .. i have been busy developing my gnome extensions hence why this theme has been a little neglected.

kind regards

[2017-11-22 20:52] #43 closed

[2017-11-22 20:53] LinxGem33 commented on #40
i think its merlin.
kind regards

[2017-11-22 20:53] #40 closed

[2017-11-22 20:54] LinxGem33 commented on #45
could you post screen shots to give me an idea thanks.

[2017-11-22 20:59] LinxGem33 commented on #42
there are alot of places to direct you to that needs to be changed in order to change the highlights and also it depends which desktop your using so i would suggest get familiar with the css and it would be easier to advise you.

kind regards

[2017-11-22 20:59] #42 closed

[2017-11-22 21:00] LinxGem33 commented on #38
thanks for the suggestion ill see what i can do in a later release.

kind regards

[2017-11-22 21:00] #38 closed

[2018-01-07 18:47] ZachariasZeiler opened #46 "disable drop shadow on maximized windows"
Hi,
I stumbled about your awesome work today and fell in love with it, there's just one small hiccup I dislike: Whenever I open an application in maximized window mode (and that happen's quite often) the drop shadow of the top bar still is visible, it's shading my open application and it's really distracting.

![topbardropshadow](https://user-images.githubusercontent.com/32845029/34652751-a2614204

[2018-01-21 06:27] open233 opened #47 "Wallpaper"
Can you share your wallpaper? I think it is beautiful.
你能分享你的壁纸吗？我认为这很漂亮。I cannot speak English well,sorry.

[2018-01-21 09:15] LinxGem33 commented on #47
https://github.com/LinxGem33/OSX-Arc-White/blob/master/extra/mountains.png?raw=true

[2018-01-21 09:17] LinxGem33 commented on #46
im looking at ways to do this hopefully for a future release as its only on the white theme, darker and shadow dont have this issue.

[2018-01-21 09:17] #46 closed

[2018-01-24 14:28] open233 commented on #47
Thanks.

[2018-01-25 19:23] frosth555 opened #48 "osx-arc spamming gnome-shell's log"
hi, I have a problem with spamming my journal by:
[code]

I've found that "setup_framebuffers: assertion 'width > 0' failed" can be fix by:
 -panel-corner-border-width: 0;
in #panel .panel-corner

I'm on Archlinux but I saw it on ubuntu 17.10 and fedora too.

And yes, this is best theme i've ever used :)
best regards

[2018-01-29 06:36] #47 closed

[2018-01-29 06:37] LinxGem33 commented on #48
appreciate you bringing it to my attention ill look into it for the next point release.

kind regards

[2018-01-29 06:37] #48 closed

[2018-02-04 15:14] jonathan-daniel opened #49 "Mate panel is dark and some elements hard to read"
See screenshot

![screenshot at 2018-02-04 16-12-59](https://user-images.githubusercontent.com/6066394/35778993-828db558-09c6-11e8-8c4d-4690cc4cad72.png)

[2018-02-22 16:32] AlbertoEgurrola commented on #45
This is what he meant.
![captura de pantalla de 2018-02-22 09-31-42](https://user-images.githubusercontent.com/7452971/36550741-3f1ada58-17b3-11e8-91e3-dbda9e3464e5.png)